/*Selectores */
h1, h2{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(135, 151, 145);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos para navegación */
nav ul{
    list-style-type:none ;
    padding: 0;
}

nav li{
    display: inline;
    margin-right: 10px;
}
/* Estilos para la pagina conocimientos.html */
div{
    margin-bottom: 25px;
}
div h2{
    color: rgb(145, 0, 0);
    margin-top: 15px;
}

/*Estilo para imagenes*/
img[src*="logovisual"], img[src*=" github"]{
    width: 180px;
    border: 2px solid;
  
}